<footer class="site-footer">
  <div class="wrapper">
    <a class="footer-logo" href="https://okfn.org/">
       <img src="https://a.okfn.org/img/oki/landscape-white-234x61.png">
    </a>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="https://okfn.org/privacy-policy/">Privacy policy</a></li>
        <li><a href="https://okfn.org/ip-policy/">IP policy</a></li>
        <li><a href="https://okfn.org/cookie-policy/">Cookie policy</a></li>
        <li><a href="https://okfn.org/terms-of-use/">Terms of use</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://facebook.com/OKFNetwork">
          <img src="{{ '/static/img/facebook-logo-circle.png'|url }}" alt="Facebook">
          </a></li>
        <li>
          <a href="https://twitter.com/okfn">
            <img src="{{ '/static/img/twitter-logo-circle.png'|url }}" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/openknowledgefdn">
            <img src="{{ '/static/img/youtube-logo-circle.png'|url }}" alt="YouTube">
          </a>
        </li>
      </ul>
    </div>

    <hr>
    <p>The Open Knowledge Foundation is a not-for-profit organisation. It is incorporated in England & Wales as a company limited by guarantee, with company number 05133759. VAT Registration № GB 984404989. Registered office address: Open Knowledge Foundation, 86-90 Paul Street, London, EC2A 4NE, United Kingdom.</p>
  </div>
</footer>
