<nav id="contents">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="/licenses/">Licenses</a>
      <ul>
        <li><a href="/licenses/odbl/">Open Data Commons Open Database License (ODbL)</a></li>
        <li><a href="/licenses/by/">Open Data Commons Attribution License</a></li>
        <li><a href="/licenses/pddl/">Open Data Commons Public Domain Dedication and License (PDDL)</a></li>
      </ul>
    </li>
    <li>
      <a href="/norms/">Norms</a>
      <ul>
        <li><a href="/norms/odc-by-sa/">ODC Attribution-Sharealike Community Norms</a></li>
      </ul>
    </li>
    <li>
      <a href="/faq/">FAQ</a>
      <ul>
        <li><a href="/faq/licenses/">Licenses FAQ</a></li>
      </ul>
    </li>
    <li>
      <a href="/about/">About</a>
      <ul>
        <li><a href="/about/advisory-council/">Advisory Council</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </li>
  </ul>
</nav>
