<nav id="contents">
  <ul>
    <li><a href="{{ '/'|url }}">Home</a></li>
    <li>
      <a href="{{ '/licenses/'|url }}">Licenses</a>
      <ul>
        <li>
          <a href="{{ '/licenses/odbl/'|url }}">Open Data Commons Open Database License (ODbL)</a>
          <ul>
            <li><a href="{{ '/licenses/odbl/summary/'|url }}">Summary</a></li>
            <li><a href="{{ '/licenses/odbl/1-0/'|url }}">Full Legal Text</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/licenses/by/'|url }}">Open Data Commons Attribution License (ODC-By)</a>
          <ul>
            <li><a href="{{ '/licenses/by/summary/'|url }}">Summary</a></li>
            <li><a href="{{ '/licenses/by/1-0/'|url }}">Full Legal Text</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ '/licenses/pddl/'|url }}">Open Data Commons Public Domain Dedication and License (PDDL)</a>
          <ul>
            <li><a href="{{ '/licenses/pddl/summary/'|url }}">Summary</a></li>
            <li><a href="{{ '/licenses/pddl/1-0/'|url }}">Full Legal Text</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ '/norms/'|url }}">Norms</a>
      <ul>
        <li><a href="{{ '/norms/odc-by-sa/'|url }}">ODC Attribution-Sharealike Community Norms</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/faq/'|url }}">FAQ</a>
      <ul>
        <li><a href="{{ '/faq/licenses/'|url }}">Licenses FAQ</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/about/'|url }}">About</a>
      <ul>
        <li><a href="{{ '/about/advisory-council/'|url }}">Advisory Council</a></li>
        <li><a href="{{ '/contact/'|url }}">Contact</a></li>
      </ul>
    </li>
  </ul>
</nav>

<script src="{{ '/static/mmenu-js/dist/mmenu.polyfills.js'|url }}"></script>
<script src="{{ '/static/mmenu-js/dist/mmenu.js'|url }}"></script>
<script>
  document.addEventListener(
    "DOMContentLoaded", function() {
      new Mmenu("#contents", {
        navbar: { title: "Open Data Commons"}
      });
    }
  );
</script>
